body {
    background-color: bisque;    
}

#header {
    display: flex;
    justify-content: center;
    background-color: bisque;    
}
h1 {
    font-size: 40px;
    font-family: 'Diphylleia', serif;
}
#btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#btn {
    margin-top: 200px;
    background-color: bisque;
    padding: 25px;
    border-radius: 20px;
    border: none;
}
a {
    text-decoration: none;
    font-family: 'Diphylleia', serif;
    font-size: 25px;
    color: black;
    font-weight: bolder;
}
#btn:hover {
    background: linear-gradient(to right, #da7676, #ebd574);
}
#myVideo {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
@media all and (max-width: 500px) {
    #myVideo {
        width: max-content;
    }
}